html, body {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "futura-pt",sans-serif;
}

.container {
  width: 100%;
  max-width: none;
}

.navbar {
  padding: 8px 20px;
  font-size: 24px;
  background-color: #DF383D;
  //background-color: #312450;
  color: white;
  position: relative;
  span {
    font-size: 16px;
  }
  .nav-buttons {
    position: absolute;
    right: 10px;
    top: 3px;
    .button {
      background-color: #c53939;
      //background-color: #4C4EAD;
      border: white;
      color: white;
    }
  }
}

#map {
  width: 100%;
  min-height: 300px;
}

.sidebar-wrapper {
  width: 34.6666666667%!important;
  margin-left: 0;
  .sidebar {
    background-color: #F2F7F8;
    padding: 20px 20px;
    .buttons {
      text-align: center;
      button {
        //background-color: #4C4EAD;
        background-color: #c53939;
        color: white;
      }
    }
    .info {
      padding-top: 30px;
      span {
        &#county {
          font-size: 28px;
        }
        &#countyId {
          font-size: 18px;
        }
      }
    }
  }
}

.content {
  background-color: #323538;
  width: 100%;
  svg {
    margin: 0 auto;
    display: block;
  }
}

.hidden {
  display: none;
}
div.tooltip {
  color: #222;
  background-color: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  position: absolute;
  top: 65px;
  left: 48px;
  padding: 14px;
  opacity: 0.8;
}

.footer {
  height: 40px;
  background-color: #DF383D;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  .info {
    padding: 10px 30px;
    img {
      height: 70%;
      width: auto;
    }
  }
}


.leaflet-container {
    background: black;
}

