<html>
  <head>
    <link rel="stylesheet" href="static/assets/css/normalize.css" />
    <link rel="stylesheet" href="static/assets/css/skeleton.css" />
    <link rel="stylesheet" href="static/assets/css/simple.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/leaflet.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <div class="navbar">
            <div class="brand">
              <i class="fa fa-star"></i> Gliterskill
              <span> - know your industry's skills </span>
            </div>
            <div class="nav-buttons">
              <a class="button" href="#">Mapz & Top 5 Attributes</a>
              <a class="button" href="{{ url_for('wordcloud') }}">Wordcloud</a>
              <a class="button" href="{{ url_for('toplist') }}">Top List</a>
              <button class="button-primary">Where to work</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="eight columns">
          <div class="content" id="main">

            <div id="map"></div>
          </div>
        </div>
        <div class="four columns sidebar-wrapper">
          <div class="sidebar">
            <div class="buttons">
              <button class="button-primary">Button element</button>
              <button >Button element</button>
            </div>
            <div class="info">
              <span>Displaying info on:</span>
              <div>
                <span id="county">Please select a county</span> <span id="countyId"></span>
                <div class="bubbles"></div>
                <div class="wordcloud"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="eight columns">
              <div class="info">
                © 2016 EiT Group 4
              </div>
            </div>
            <div class="four columns">
              <div class="info">
                <img src="static/assets/img/ntnu.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://use.typekit.net/nlt0wxh.js"></script>
    <script src="static/assets/js/jquery.min.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="static/assets/js/d3.layout.cloud.js"></script>
    <script src="static/assets/js/bubbles.js"></script>
    <script src="static/assets/js/wordcloud.js"></script>
    <script src="static/assets/js/script.js"></script>
  </body>
</html>
