<html>
  <head>
    <link rel="stylesheet" href="static/assets/css/main.css" />
  </head>
  <body>
  <!-- One -->
    <section id="one" class="wrapper style2 spotlights">
      <section>
        <div class="container">
          <div class="Headline">
            <h1>
              <center>Top five most attractive skills</center>
            </h1>
          </div>
          <div class="content">
            <ol class="center">
              <li><div>Software</div></li>
              <li><div>Hardware</div></li>
              <li><div>Cooperative</div></li>
              <li><div>Precise</div></li>
              <li><div>Hello World</div></li>
            </ol>
          </div>
        </div>
      </section>
  </body>
</html>


